<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLYAPP</title>

    <!-- Font Icon -->
    <link href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">

    <!-- Main css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<style>
    body {
        background-size: auto;
        -moz-background-size: auto;
        -webkit-background-size: auto;
        -o-background-size: auto;
        -ms-background-size: auto;
    }
</style>
<body>

    <div class="main">

        <div class="topnav">
            <a href="/" style="height: 58px">
                <img src="{{ url_for('static', filename='images/header-text.png') }}" alt="">
            </a>
            <a href="{{ url_for('find') }}">Find Flights</a>
            <div class="topnav-right">
                <a href="{{ url_for('register') }}">Register as Employee</a>
                <a href="{{ url_for('login') }}">Login as Employee</a>
                <a href="{{ url_for('admin') }}">Login as Admin</a>
                <a href="/">Contact</a>
            </div>
        </div>

        <div class="container" style="margin-top: 50px">
            <form id="booking-form" class="booking-form" method="POST">
                <h5>Flight</h5>

                <div class="form-group">
                    <div class="form-destination">
                       <label for="code">Flight Code</label>
                       <input type="text" id="code" name="code" required />
                    </div>
                    <div class="form-destination">
                         <label for="source">Source</label>
                         <input type="text" id="source" name="source" required/>
                    </div>
                    <div class="form-destination">
                         <label for="dest">Destination</label>
                         <input type="text" id="dest" name="dest" required/>
                   </div>
                </div>
                <div class="form-group">
                    <div class="form-destination">
                       <label for="arr">Arrival</label>
                       <input type="text" id="arr" name="arr" required />
                    </div>
                    <div class="form-destination">
                         <label for="dept">Departure</label>
                         <input type="text" id="dept" name="dept" required/>
                    </div>
                    <div class="form-destination">
                         <label for="status">Status</label>
                         <input type="text" id="status" name="status" required/>
                   </div>
                </div>
                <div class="form-group">
                    <div class="form-destination">
                       <label for="duration">Duration</label>
                       <input type="text" id="duration" name="duration" required />
                    </div>
                    <div class="form-destination">
                         <label for="type">Type</label>
                         <input type="text" id="type" name="type" required/>
                    </div>
                    <div class="form-destination">
                         <label for="layover">Layover Time</label>
                         <input type="text" id="layover" name="layover" required/>
                   </div>
                </div>
                <div class="form-group">
                    <div class="form-destination">
                         <label for="stops">Number of Stops</label>
                         <input type="text" id="stops" name="stops" required/>
                    </div>
                    <div class="form-destination">
                         <label for="a_id">Airline ID</label>
                         <input type="text" id="a_id" name="a_id" required/>
                   </div>
                    <div class="form-submit">
                        <input type="submit" id="submit" class="submit" value="ADD" />
                    </div>
                </div>
                <h4>{{msg}}</h4>
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>