<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLYAPP</title>

    <!-- Font Icon -->
    <link href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">

    <!-- Main css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>

    <div class="main">


        <div class="topnav">
            <a href="/" style="height: 58px">
                <img src="{{ url_for('static', filename='images/header-text.png') }}" alt="">
            </a>
            <a href="{{ url_for('find') }}">Find Flights</a>
            <div class="topnav-right">
                <a href="{{ url_for('register') }}">Register as Employee</a>
                <a href="{{ url_for('login') }}">Login as Employee</a>
                <a href="{{ url_for('admin') }}">Login as Admin</a>
                <a href="#contact">Contact</a>
            </div>
        </div>

        <div>
            <h2 style="text-align: center">Available Flights</h2>
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Flight Code</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Arrival</th>
                    <th>Departure</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Flight Type</th>
                    <th>Layover Time</th>
                    <th>Number of Stops</th>
                    <th>Airline ID</th>
                    <th>Book</th>
                </tr>
                </thead>
                <tbody>
                {% for row in table %}
                <tr>
                    {% for d in row %}
                    <td>{{d}}</td>

                    {% endfor %}
                    <td><a href="{{ url_for('bookTicket') }}" style="color:FFD700">BOOK NOW</a></td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <form id="contact" action="" method="post">
            <h3>Contact Us</h3>
            <h4>Reach out to us if any queries</h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>

        </form>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>